.container {
    max-width: 700px;
    min-height: 500px;
    margin: 0 auto 20px auto;
    background-color: antiquewhite;
}

.addBTN {
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px #F137A6 inset, 0 0 0 0 #F137A6;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: .15s ease-in-out;
    width: 94%;
}

.addBTN:hover {
    box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6;
    color: #F137A6;
}

.titleDiv {
    display: flex;
    justify-content: space-around;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 18px;
    background: #BCEBDD;
    color: #656665;
    border: 16px solid #ECE9E0;
}